*
{
     padding: 0;
     margin: 0;

}

.img
{
  background-image: url(witchy\ things.jpg);
  width: 50%;
  height: 400px;
  right: 50%;
  top:  80%;
  margin-left: auto;
  margin-right: auto;
 /* transform: translate(-50% , -50%);*/
  background-position: center;
  animation: slider 10s infinite linear;
  
  box-shadow: 2px 2px 2px 2px wheat;
  
}
@keyframes slider{
  0%{background-image: url(Do\ u\ like\ it_.jpg);}
  35%{background-image: url(Pork\ and\ Cabbage\ Dumplings.jpg);}
  
}


/*body*/
body
{
  background-image: url(grad.jpg.jpg);
  background-color: black;
  background-size: cover;
  background-position: center;
}
h1{
  color:rgb(221, 70, 19);
  text-align: center;
}